.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(235, 235, 235);
  margin: 0;
  min-width: 100vw;
}

.welcomeContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 24rem;
  padding: 5rem;
  text-align: center;
}

.welcomeContainer h1 {
  font-size: 3.1rem;
}
